
.navbar {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 40px;
  border: 0;
  border-radius: 0;
  margin-bottom: 30;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  letter-spacing: 5px;
} 

  

body {
  
  background-color: rgb(194, 205, 209);
  font-size: 16px;
  line-height: 1;
}

h1 {
    margin-left: 100px;
}



#parkSelector {
    margin-left: 90px;
    padding-top: 50px;
}

#userSelections {
    background-color: rgb(194, 205, 209);
    height: 250px;
    padding-right: 50px;
}  

  